<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="~/assets/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/assets/admin/dist/css/sb-admin-2.css" rel="stylesheet" />

    <!-- Morris Charts CSS -->
    <link href="~/assets/admin/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/assets/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundles/cssadminlte")
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Plugins/iCheck/all.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Plugins/kendo-ui/styles/kendo.common-material.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Plugins/kendo-ui/styles/kendo.material.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Plugins/kendo-ui/styles/kendo.material.mobile.min.css")">
    @RenderSection("styles", required: false)
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div id="wrapper">
        @Html.Partial("~/Areas/Admin/Views/Shared/MainHeader.cshtml")
        @Html.Partial("~/Areas/Admin/Views/Shared/LeftSidebar.cshtml")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        @Html.Partial("~/Areas/Admin/Views/Shared/Footer.cshtml")
        @Html.Partial("~/Areas/Admin/Views/Shared/ControlSidebar.cshtml")
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/assets/admin/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/assets/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/assets/admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/assets/admin/vendor/raphael/raphael.min.js"></script>
    <script src="~/assets/admin/vendor/morrisjs/morris.min.js"></script>
    <script src="~/assets/admin/data/morris-data.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/assets/admin/dist/js/sb-admin-2.js"></script>
    @Scripts.Render("~/bundles/adminlte")
    <script src="@Url.Content("~/Scripts/jquery.inputmask.bundle.min.js")"></script>
    <script src="@Url.Content("~/Plugins/icheck/icheck.min.js")"></script>
    <script src="@Url.Content("~/Scripts/typeahead.bundle.min.js")"></script>
    <script src="@Url.Content("~/Plugins/kendo-ui/js/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Plugins/ckeditor/ckeditor.js")"></script>
    <script src="@Url.Content("~/Plugins/ckfinder/ckfinder.js")"></script>
    <script src="@Url.Content("~/Scripts/slugify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/speakingurl.min.js")"></script>
    <script src="@Url.Content("~/Scripts/adminlte.min.js")"></script>
    <script src="@Url.Content("~/Scripts/admin.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
