@model Model.EF.Post

@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDesc)
           @*@Html.Raw(Model.FullDesc)*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.FullDesc)*@
            @Html.Raw(Model.FullDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.View)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.View)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsShow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsShow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsHot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsHot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAllowComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAllowComment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDraft)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDraft)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoKeyword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoKeyword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeoDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeoDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
