
@model Model.ViewModel.Post.PostListModel
@*@using Model.ViewModel.Post*@
@*@using PagedList.Mvc
@model PagedList.IPagedList<Model.ViewModel.Post.PostItemModel>*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@section styles
{
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery.mCustomScrollbar.min.css")" />
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/libs/jquery.mCustomScrollbar.concat.min.js")"></script>
    @*<script type="text/javascript">
        (function ($) {
            $(document).ready(function () {
                $("#newsNavigationBar > li[data-navi-url='home']").addClass("active");
                var pageIndex = 2;
                var isLoading = false;
                $(window).scroll(function () {
                    var hT = $('#listNews').offset().top,
                        hH = $('#listNews').outerHeight(),
                        wH = $(window).height(),
                        wS = $(this).scrollTop();
                    if (!isLoading && wS > (hT+hH-wH)){
                        GetData();
                    }
                });

                function GetData() {
                    isLoading = true;
                    var loading = $("#newsLoading");
                    $.ajax({
                        type: 'GET',
                        url: '@Url.RouteUrl(new { action = "LoadPostHome", controller = "Home" })',
                        data: {
                            "page": pageIndex
                        },
                        dataType: 'html',
                        success: function (data) {
                            if (data != null && data != "") {
                                $("#newsLoading").before(data);
                                pageIndex++;
                                isLoading = false;
                            }
                            else
                            {
                                isLoading = true;
                                loading.hide();
                            }
                        },
                        beforeSend : function () {
                            loading.show();
                        },
                        complete : function () {
                            loading.hide();
                        },
                        error: function () {
                            loading.hide();
                            isLoading = false;
                        }
                    });
                }
            });
        })(window.jQuery);
    </script>*@


    <script>
        (function ($) {

            function GetDataLoop(page) {
                IsLoading = true;
                var loading = $("#newsLoading");
                $.ajax({
                    type: 'GET',
                    //url: '/Home/ListPostHome',
                    url:'@Url.RouteUrl(new { action="ListPostHome",controller="Home"})',
                    data: {
                     "page":page
                    },
                    //url: "/"+page,
                    dataType: 'html',
                    success: function (data) {
                        if (data != null && data != "")
                        {
                            $('#newsLoading').before(data);
                        }
                    },
                    beforeSend: function () {
                        loading.show();
                    },
                    complete: function () {
                        loading.hide();
                    },
                    error: function () {
                        loading.hide();
                        IsLoading = false;
                    }
                });
            }

        $(document).ready(function () {
            //var page=2;
            var pageIndex = 2;
            var IsLoading = false;
            $(window).scroll(function () {
                var hT = $("#listNews").offset().top,
                    hH = $("#listNews").outerHeight(),

                    wH = $(window).height(),
                    wS = $(this).scrollTop(); // $(window).scrollTop()
                    if (pageIndex<=5 &&!IsLoading && wS > (hT + hH - wH)) // nếu đang chạy IsLoading thì sẽ ko gọi
                    {
                        GetData();
                    }

            });
            $("#loadMore").on('click', GetData);
            function GetData() {
                IsLoading = true;
                var loading = $("#newsLoading");
                var loadmore = $("#loadMore");
                $.ajax({
                    type:'GET',
                    //url: '/Home/ListPostHome',
                    url:'@Url.RouteUrl(new { action="ListPostHome",controller="Home"})',
                    data: {
                      "page": pageIndex
                    },
                    //url:"/"+pageIndex,
                    //url:"/"+page,
                    dataType: 'html',
                    success: function (data) {
                        if (data != null && data != "") // có dữ liệu để load
                        {
                            if (window.location.search.length == 0) {
                                var link = "/" + location.pathname.length == 1 ? "" : location.pathname + "?page=2";
                                window.history.pushState(null, null, link);
                            }
                            else {
                                var link = "/" + location.search.length == 1 ? "" : location.pathname + "?page=" + (parseInt(location.search.replace("?page=", "")) + 1).toString();
                                window.history.pushState(null, null, link);
                            }
                            $("#newsLoading").before(data);
                            //pageIndex++;
                            pageIndex++;
                            IsLoading = false; // khi load xong rồi thì tắt IsLoading
                            loading.hide();
                            loadmore.show();
                        }

                        //if (pageIndex == 5)
                        //{
                        //    $("newsLoading").stop(data);
                        //    loading.hide();
                        //    IsLoading = false;
                        //}

                        else // nếu không có dữ liệu hoặc đã load hết thì cho cờ bằng true để báo đã load hết.
                        {
                            loading.hide();
                            IsLoading = true;
                            loadmore.hide();
                        }
                    },
                    beforeSend: function () {
                        loading.show(); // trước khi gửi đến thì show load
                        loadmore.hide();
                    },
                    complete: function () {
                        loading.hide(); // sau khi  hoàn thành thì ẩn hình ảnh loading
                    },
                    error: function () {
                        loading.hide(); // nếu lỗi thì ẩn hình ảnh loading và cờ =false
                        IsLoading = false;
                        loadmore.show();
                    }

                });
                return false;
            }

        });
        $(window).on('load', function () {
            var key,n;
            if (key = location.search, key != "")
            {
                for (n = 2; n <= parseInt(location.search.replace("?page=", "")) ; n++)
                {
                    GetDataLoop(n);
                }
                if ((n - 1) == parseInt(location.search.replace("?page=", "")))
                {
                    $('html,body').animate({ scrollTop: $(".fs-newsbdpd").offset().top - 1000 }, 0);
                }
            }
        })
        })(window.jQuery);
    </script>
}

@{
    int[] hotPostNum = { 6 };
    int[] listPostNum = { 4, 3 };
}
<section class="fs-main">
    <div class="f-wrap">
        <h1 class="fs-newsh1">TIN TỨC</h1>
        @{ 
            Html.RenderAction("NavigationBars", "Home");
        }
        
        <div class="fs-newsrow clearfix">
            @*Giao diện bên phải*@

            <div id="listNews" class="fs-newscol fs-newscol1">
                @*@Html.Partial("TopPostList",Model.HotPosts.Take(hotPostNum[0]))
                @Html.Partial("ListPostBox",Model.Posts.Take(listPostNum[0]))
            
                @Html.Partial("ListPostBox",Model.Posts.Skip(listPostNum[0]).Take(listPostNum[1]))
                @Html.Partial("TopPostList2",Model.HotPosts.Skip(hotPostNum[0]))
              
                @Html.Partial("ListPostBox",Model.Posts.Skip(listPostNum[0]+listPostNum[1]))*@        

                @Html.Partial("TopPostList", Model.HotPosts.Take(hotPostNum[0]))
                @Html.Partial("ListPostBox", Model.Posts.Take(listPostNum[0]))

                @Html.Partial("ListPostBox", Model.Posts.Skip(listPostNum[0]).Take(listPostNum[1]))
                @Html.Partial("TopPostList2", Model.HotPosts.Skip(hotPostNum[0]))

                @Html.Partial("ListPostBox", Model.Posts.Skip(listPostNum[0] + listPostNum[1]))
                <p id="newsLoading" class="fs-newsloading" hidden><img src="/images/news/giphy.gif" alt="Loading..."> Đang tải thêm</p>
                <p id="loadMore" class="fs-newsdt-vmsas" hidden="" style="display: block;"><a href="" title="">Xem thêm <i></i></a> </p>
            </div>
            <div class="fs-newscol fs-newscol2">
                @*Giao dien ben trái*@
                @Html.Action("TopViewPostRight")
                @Html.Partial("TopProductRight")
                @*@Html.Action("TopSalePostRight")*@
            </div>
        </div>
    </div>
    
</section>
<div>
    @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))*@
</div>
