@model IEnumerable<Model.ViewModel.Tag.TagItemModel>
<div class="fs-news-rboxs">
    <h2 class="fs-news-rhd">@ViewBag.Name</h2>
    <div class="fs-news-rmain">
            <div class="fs-news-rtth">
                <div class="fs-news-rtthsearch">
                    <input id="txtSearchBox" type="text" name="name" value="" placeholder="Bạn muốn tìm gì?" />
                </div>
                <ul class="fs-news-rtthtab">
                    @foreach (var tag in Model)
                    {
                        <li><a href="@string.Format(System.Configuration.ConfigurationManager.AppSettings["FPTSearchURL"],@tag.URL)" title="@tag.SeoTitle">@tag.Name</a></li>
                    }
                </ul>
            </div>
    </div>
</div>
<script>
    (function($){
        $(document).ready(function(){
            $("#txtSearchBox").on("keyup",function(event){
                if(event.keyCode==13){
                    search();
                    return false;
                }
            });
            function search(){
                    var searchInput=$('#txtSearchBox').val();
                    var url="@(System.Configuration.ConfigurationManager.AppSettings["FPTSearchURL"])".replace("{0}",searchInput);
                    window.open(url,"_self");
                };
        });
    });
</script>
